/* -----------------BODY----------------- */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto:wght@300&display=swap");
/* change these */

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

:root {
  --red: #e30413;
  --black: #232220;
  --eggshell: #f6f3ee;
  --creme: #d9cdb8;
  --dark-creme: #beb097;

  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --main-text-color: #000;
  --header-font: "Bebas Neue", sans-serif;

  --white-space: 2rem;

  background-color: white;
  cursor: url("images/gifel_cursor.png"), auto;
}

main {
  margin-bottom: 50px;
  margin-top: 85px;
}

h1,
h2 {
  font-family: var(--header-font);
  font-size: 2.5rem;
}

h3,
h4 {
  font-family: var(--primary-font);
  font-size: 1.4rem;
}

p {
  font-family: var(--secondary-font);
}

/* -------------HEADER---------------- */

.navbar {
  box-shadow: 0px 0px 5px grey;
  background-color: var(--eggshell);
}

.logo {
  max-width: 250px;
}

div #navbarNav {
  flex-grow: 0;
}

.navbar-nav {
  margin-right: 50px;
}

.nav-item {
  font-family: var(--header-font);
  color: #000;
  font-size: 1.3rem;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: grey !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ----------------HERO---------------- */

#hero {
  height: 45vw;
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

#hero h1 {
  text-align: center;
  padding-top: 18%;
  border-bottom: white 2px solid;
  width: 230px;
  text-align: center;
  margin: auto;
  font-family: var(--header-font) !important;
  font-size: 4rem !important;
  text-shadow: black 0px 0px 4px;
}

#hero h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  text-shadow: black 0px 0px 5px;
}

#hero_text {
  margin: auto;
  max-width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 1.2rem;
}

/* --------------PRODUKT-------------- */
#produkt {
  background-color: var(--dark-creme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 5px 5px 6.2px rgba(0, 0, 0, 0.022);
  overflow: hidden;
}

#produkt img {
  max-width: 700px;
  margin: 50px;
}

/* -------------FAKTABOKSE------------- */

#faktabokse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  gap: 30px 30px;
  margin-left: 80px;
  margin-right: 80px;
  flex-wrap: wrap;
  margin: auto;
}

.faktaboks {
  width: 350px;
  height: 250px;
  box-shadow: 5px 5px 6.2px rgba(0, 0, 0, 0.022),
    8.6px 8.6px 12.3px rgba(0, 0, 0, 0.033),
    10.7px 10.7px 18.3px rgba(0, 0, 0, 0.041),
    11.7px 11.7px 24.7px rgba(0, 0, 0, 0.05);
  /* opacity: 0.5; */
  text-align: center;
  text-shadow: black 0px 0px 5px;
  padding: 30px;
  padding-top: 90px;
  color: white;
}

.dadler {
  background-image: url(images/dadler.jpg);
  background-size: cover;
  background-position: center;
}

.øko {
  background-image: url(images/field.jpg);
  background-size: cover;
}

.vegansk {
  background-image: url(images/bark.jpg);
  background-size: cover;
}

/* ----------OM ØKO GIFLEN------------ */

#om_øko {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
  padding-top: 65px;
}

#om_øko_text {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

#om_øko img {
  max-width: 400px;
  max-height: 400px;
  margin: 30px;
  border-radius: 50%;
  box-shadow: 5px 5px 6.2px rgba(0, 0, 0, 0.022),
    8.6px 8.6px 12.3px rgba(0, 0, 0, 0.033),
    10.7px 10.7px 18.3px rgba(0, 0, 0, 0.041),
    11.7px 11.7px 24.7px rgba(0, 0, 0, 0.05),
    14.2px 14.2px 34.1px rgba(0, 0, 0, 0.06),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

/* --------------CAROUSEL-------------- */

.carousel-inner {
  overflow: visible !important;
}

.carousel-item ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.carousel-item li img {
  width: 200px;
  height: 150px;
  box-shadow: 5px 5px 6.2px rgba(0, 0, 0, 0.022),
    8.6px 8.6px 12.3px rgba(0, 0, 0, 0.033),
    10.7px 10.7px 18.3px rgba(0, 0, 0, 0.041),
    11.7px 11.7px 24.7px rgba(0, 0, 0, 0.05);
  object-fit: cover;
  cursor: pointer;
}

.carousel-control-prev {
  color: black;
}

#insta_carousel {
  /* background-color: #beb097; */
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-top: 100px;
}

/* -------------FOOTER-------------- */

.copy {
  text-align: center;
}

#footer_content {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  width: 80%;
  margin: auto;
}

#logo_footer {
  max-width: 200px;
}

#contact ul {
  list-style: none;
}

.åbning {
}
